# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Docker artifacts
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Editor / OS
*.swp
*.swo
*.DS_Store
*.vscode/
.idea/

# Databases or temp files
*.db
*.sqlite3

